/.venv/
/notebooks/.ipynb_checkpoints/
/.idea/misc.xml
/.idea/mlops-zoomcamp-training.iml
/.idea/modules.xml
/.idea/vcs.xml
/.idea/inspectionProfiles/
/.idea/
/mlruns/2/5ef0250e9fef4866ad7e53fbcce081b3/artifacts/model/model.pkl
